<div *ngIf="!loading"
     class="container-fluid">
  <div class="row margin-b">

    <!--add-details-->
    <div class="text-center col-sm-6 col-sm-offset-2">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-capitalize">{{adDetails.title}}</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-5 item-img"
                 *ngFor="let image of adDetails.images; let even = even; let odd = odd"
                 [ngClass]="{'col-sm-offset-1': even}">
              <img [src]="image" class="img-thumbnail">
            </div>

          </div>
          <div class="row margin-top-30">
            <div class="col-sm-12 padding-r-l-0 ">
              <p class="text-center">{{adDetails.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--contact-details-->
    <div class="text-center col-sm-4">

      <div class="row">
        <div class="col-sm-10 bg-info ">
          <h1>Rs.{{adDetails.rs}}</h1>
        </div>

        <div class="col-sm-10 bg-info margin-top-10">

          <h3 class="font-60">
            <span class="glyphicon glyphicon-user"></span>
          </h3>

          <h3>{{adDetails.createdBy.name}}</h3>
        </div>

        <div class="col-sm-10 bg-info margin-top-10">
          <h3>Phone</h3>

          <h3>{{adDetails.phone}}</h3>
        </div>
      </div>

    </div>

  </div>

  <div class="container">
    <h3 class="comment-header">Leave your comment</h3>

    <!-- comments section-->
    <ul class="nav nav-tabs">
      <li role="presentation" [ngClass]="{'active': setActive == 'allComments'}"
          (click)="commentSection('allComments')"><a href="javascript:void(0)">Comments</a></li>
      <li role="presentation" [ngClass]="{'active': setActive == 'doComment'}"
          (click)="commentSection('doComment')"><a href="javascript:void(0)">Add Comment</a></li>
    </ul>


    <div class="comment-section margin-b">

      <!--Do Comment-->
      <form #commentForm="ngForm" class="form-horizontal"
            (ngSubmit)="doComment()"
            *ngIf="setActive == 'doComment'">
        <div class="form-group">
          <label for="comment" class="col-sm-2 control-label">Comment</label>

          <div class="col-sm-8">
            <textarea class="form-control" rows="3" id="comment" name="comment"
                      [(ngModel)]="comment"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-7">
            <button type="submit" class="btn btn-success">Submit Comment</button>
          </div>
        </div>
      </form>

      <div *ngIf="success"
        class="alert alert-info text-center">{{message}}
      </div>

      <!--Show All Comments-->
      <div class="row" *ngIf="setActive == 'allComments'">
        <div class="col-sm-10" *ngFor="let user of allComments">
          <div class="row">
            <div class="col-sm-1 commentImage">
              <img [src]="commentUserImage ">
            </div>
            <div class="col-sm-10">
              <div class="well well-lg">
                <span class="pull-right">{{user.updatedAt }}</span>

                <b class="font-lg">{{user.userId.name}}</b>

                <p class="margin-top-10">{{user.comment}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>  <!--end container-fluid -->


<!--for loading-->
<div class="text-center" *ngIf="loading">
  <span class="glyphicon glyphicon-repeat font"></span>
  <div>Loading</div>
</div>
